@model SchoolCF.Models.Student

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<h3>BlogPost</h3>


@using (Ajax.BeginForm("CrearEstudianteAjax", "Students", null, 
                        new AjaxOptions
                        {
                            HttpMethod = "Post",
                            OnBegin = "onBeginSubmit",
                            OnComplete = "onCompleteSubmit",
                            OnFailure = "onFailureResult",
                            OnSuccess = "onSuccessResult",
                           // UpdateTargetId = "StudentList",
                            InsertionMode = InsertionMode.Replace
                        },
                        new { id = "AjaxForm" }))
{
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.TextBoxFor(m => m.StudentName,
                    new { @class = "form-control input-sm", id = "Nombre", placeholder = "Nombre" })
                @Html.ValidationMessageFor(m => m.StudentName, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                @Html.TextBoxFor(m => m.DateOfBirth,
                    new { @class = "form-control input-sm", id = "DateOfBirth", placeholder = "DateOfBirth" })
                @Html.ValidationMessageFor(m => m.DateOfBirth, null, new { @class = "text-danger" })
            </div>
        </div>




    </div>

    <div class="row">
        <div class="col-md-9">
            <div id="ErrorAlert" class="alert alert-danger" style="display:none" role="alert">
                Error en los datos enviados!
            </div>
            <div id="ExitoAlert" class="alert alert-success" style="display:none" role="alert">
                Datos recibidos correctamente!
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group float-right">
                <img id="AjaxLoader" alt="Enviando ..." style="display:none" src="~/Images/loading.gif" />
                &nbsp;&nbsp;
                <button id="SubmitBtn" type="submit" class="btn btn-primary">
                    <i class="glyphicon glyphicon-send"></i>
                    &nbsp;Enviar datos
                </button>
            </div>
        </div>
    </div>
}


@section Scripts {



    <!-- AL COMENZAR EL SUBMIT -->
    <script>

        var onBeginSubmit = function () {
            // Mostramos el Ajax Loader
            $("#AjaxLoader").show("fast");

            // Deshabilitamos el botón de Submit
            $("#SubmitBtn").prop("disabled", true);
        };
    </script>

    <!-- AL FINALIZAR EL SUBMIT -->
    <script>
        var onCompleteSubmit = function () {

        };
    </script>

    <!-- SE EJECUTA SI TODO FUE BIEN -->
    <script>
        var onSuccessResult = function () {
            // Un pequeño esfecto especial ;)
            //  $("#PostList .row").first().hide();
            //  $("#PostList .row").first().slideToggle("slow");

            // Limpia el formulario

            $("#Nombre").val("");

            $("#DateOfBirth").val("");
            // Otra forma de limpiar el Formulario
            //$("#AjaxForm")[0].reset();
            //$("#AjaxForm").trigger('reset');

            // Escondemos el Ajax Loader
            $("#AjaxLoader").hide("slow");

            // Habilitamos el botón de Submit
            $("#SubmitBtn").prop("disabled", false);

            // Mostramos un mensaje de éxito.
            $("#ExitoAlert").show("slow").delay(2000).hide("slow");
        };
    </script>

    <!-- SE EJECUTA SI SE PRODUJO UN ERROR -->
    <script>
        var onFailureResult = function () {
            // Mostramos un mensaje de error.
            $("#ErrorAlert").show("slow").delay(2000).hide("slow");

            // Escondemos el Ajax Loader
            $("#AjaxLoader").hide("slow");

            // Habilitamos el botón de Submit
            $("#SubmitBtn").prop("disabled", false);
        };
    </script>
    @Html.ActionLink("Back to List", "Index")
}



